.formContainer {
  height: 70vh;
  min-width: 20%;
  width: 32rem;

  background-color: #f2f2f2;

  border-radius: 5px;

  /* https://stackoverflow.com/questions/13471910/no-padding-when-using-overflow-auto */
  /* padding-bottom: 2rem; */
}


.formContainer > h4 {
  padding: 1.5rem 2rem;
  margin: 0;
}

.formContent {
  padding: 0 2rem;
  padding-bottom: 2rem;
  
  height: calc(100% - 6rem);

  overflow-y: scroll;
}


/* These .ui and .button class selectors are getting changed */
.formContainer input.ui.button {
  margin-bottom: 3rem;
}

@media only screen and (max-width: 1224px) {
  .formContainer {
    width: 100%;
    /* padding: 1rem 2rem; */
  }
}

.formContainer form > h4 {
  text-align: center;
  margin: 0.3rem 0;
}

.group {
  margin: 2rem 0;
  margin-top: 0.3rem;
}
.group > div {
  margin-left: 1rem;
}
